/*Fondo*/
body {
    background: rgb(235, 235, 185);
    overflow: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before *::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
}
/*texto*/
.text {
    position: absolute;
    width: 12rem;
    height: 3rem;
    top: 0; right: -1%; bottom: 0; left: 0;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    font-size: 32pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40rem auto;
    text-align: center;
}
/* Cabeza goku*/
.goku .head {
    position: absolute;
    margin-top: 22rem;
    width: 10rem;
    height: 11rem;
    
}

.head {
      background: radial-gradient(circle at 50% 62%, #f3d7b6 55%, #ddbe90 55%,#dab885 40%  );
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 55% 55% 45% 45% / 55% 55% 30% 30%;
    z-index: 2;
    overflow: hidden;
    /* border: solid black thin; */
     box-shadow: 0 5px 25px rgba(0,0,0,0.4);

}


.Hair {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 26rem;
    width: 8rem;
    height: 11rem;
    z-index: 1;
}

.Hair-part {
    position: absolute;
    background: radial-gradient(circle at 50% 50%, black 80%, rgb(199, 199, 199) 100%);
    left: 50%;
    bottom: 0;
    transform-origin: bottom center;
    border-radius: 1000px 1000px 0 0;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

/* Tamano de los pelos */

.Hair-part:nth-child(1){transform: translateX(-230%)translateY(50%) rotate(-0deg); width: 50px;  height: 20px;
}
.Hair-part:nth-child(2){transform: translateX(-160%)translateY(-20%) rotate(5deg); width: 90px;  height: 40px;
}
.Hair-part:nth-child(3){transform: translateX(-130%)translateY(-96%) rotate(20deg); width: 150px;  height: 40px;
}
.Hair-part:nth-child(4){transform: translateX(-125%)translateY(-115%) rotate(40deg); width: 160px;  height: 65px;
}
.Hair-part:nth-child(5){transform: translateX(-95%)translateY(-180%) rotate(65deg); width: 160px;  height: 60px;
}
.Hair-part:nth-child(6){transform: translateX(-40%)translateY(-80%) rotate(10deg); width: 140px;  height: 70px;
    z-index: 6;
    background: red;
}
.Hair-part:nth-child(7){transform: translateX(-42%)translateY(-800%) rotate(-50deg); width: 180px;  height: 6px;
}
.Hair-part:nth-child(8){transform: translateX(30%)translateY(-260%) rotate(-35deg); width: 95px;  height: 30px;
}
.Hair-part:nth-child(9){transform: translateX(10%)translateY(-50%) rotate(-25deg); width: 150px;  height: 55px;
}
.Hair-part:nth-child(10){transform: translateX(50%)translateY(-30%) rotate(-5deg); width: 90px;  height: 25px;
}
.Hair-part:nth-child(11){transform: translateX(130%)translateY(50%) rotate(0deg); width: 50px;  height: 15px;
}
/*Pelo delantero*/
.Internal-hair {
    position: absolute;
    background: #000000;
    border-radius: 100% 100% 100% 100%;
    z-index: 2;
}

.Internal-hair:nth-child(3)::after{
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    background: #f3d7b6;
    clip-path: ellipse(50% 30% at 70% 30%);
    transform: translateY(45%)translateX(-5%) rotate(5deg);
}

.Internal-hair:nth-child(1){transform: translateX(-45%) rotate(-90deg); width: 70px;  height: 25px;top: 25px; left: 10px;
}
.Internal-hair:nth-child(2){transform: translateX(-49%) rotate(0deg); width: 120px;  height: 100px;top: -30px; left: 75px
}
.Internal-hair:nth-child(3){transform: translateX(50%) rotate(85deg); width: 80px;  height: 45px; top: 15px; left: 35px;
}
.Internal-hair:nth-child(4){transform: translateX(-50%) rotate(-45deg); width: 60px;  height: 10px; top:15px; left
}
.Internal-hair:nth-child(5){transform: translateX(-50%) rotate(-15deg); width: 85px;  height: 15px;
}

/*Partes de la cara*/

.Nose{
    position: absolute;
    top: 110px;                   
    left: 50%;
    transform: translateX(-50%);
    width: 18px;                  
    height: 14px;                 
    border: 1.5px solid #000;       
    border-radius: 50%;          
    border-bottom: none;
    border-right: none;
    border-left: none;
    rotate: -3deg;          
    background: transparent;
}
.Mouth {
    position: absolute;
    top: 135px;                 
    width: 30px;                  
    height: 10px;                 
    border: 2.5px solid #000;       
    border-radius: 0 0 100% 100%; 
    border-top: none;
    border-right: none;
    border-left: none;             
    background: transparent; 
    transform: translateX(65px);    
}
.reflex-left {
        position: absolute;
    top: 107px;                 
    width: 30px;                  
    height: 10px;                 
    border: 0.5px solid #000;       
    border-radius: 0 0 100% 100%; 
    border-top: none;
    border-right: none;
    border-left: none;             
    background: transparent;
    rotate: 185deg; 
    transform: translateX(-25px);
} 
.reflex-right {
        position: absolute;
    top: 119px;                 
    width: 30px;                  
    height: 10px;                 
    border: 0.5px solid #000;       
    border-radius: 0 0 100% 100%; 
    border-top: none;
    border-right: none;
    border-left: none;             
    background: transparent;
    rotate: 175deg; 
    transform: translateX(-105px);
}
.eyebrow-left, .eyebrow-right {
    position: absolute;
    top: 75px;                 
    width: 68px;                
    height: 9px;              
    background: #000;
    z-index: 3;                 
}

.eyebrow-left {
    left: 6px;
    transform: rotate(23deg); 
    transform-origin: right center;
}

.eyebrow-right {
    right: 6px;
    transform: rotate(-23deg);
    transform-origin: left center;   
}

.Eyes-left, .Eyes-right {
    position: absolute;
    top: 63px;
    width: 60px;
    height: 40px;
    background: #fff;
    z-index: 2;
  
    border-radius: 70% 70% 10% 20%;
    overflow: hidden;
 }

 .Eyes-left  { left: 15px;
    rotate: 7deg;
      border-left: 1px solid #000;
border-radius: 40% 90% 20% 60% / 20% 80% 30% 60%;
 }
 .Eyes-right { right: 15px;
    rotate: -7deg;
      border-right: 1px solid #000;
    border-radius: 90% 40% 60% 20% / 80% 20% 60% 30%;
 }

.pupil {
  width: 12px;
  height: 22px;
  background: #000;
  border-radius: 40%;
  position: absolute;
  top: 6px;
  left: 4px;
}
/* ojos centrados*/
.Eyes-left .pupil {
    right: 8px;
     rotate: -7deg;    
    left: auto;
}

.Eyes-right .pupil {
    left: 8px;
     rotate: 7deg;
    right: auto;
}