/*Fondo*/
body {
    background: rgb(235, 235, 185);
    overflow: hidden;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*::before *::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
}
/*texto*/
.text {
    position: absolute;
    width: 12rem;
    height: 3rem;
    top: 0; right: -1%; bottom: 0; left: 0;
    border-top: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
    font-size: 32pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40rem auto;
    text-align: center;
}
/* Cabeza goku*/
.goku .head {
    position: absolute;
    margin-top: 22rem;
    width: 8rem;
    height: 11rem;
    
}

.head {
    background: #f8dd91;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5rem;
    height: 7rem;
    border-radius: 50% 50% 48% 48% / 60% 60% 40% 40%;
    z-index: 2;
    overflow: hidden;
}


.Hair {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 26rem;
    width: 8rem;
    height: 11rem;
    z-index: 1;
}

.Hair-part {
    position: absolute;
    background: rgb(0, 0, 0);
    left: 50%;
    bottom: 0;
    transform-origin: bottom center;
    border-radius: 100px 100px 0 0;
}

/* Tamano de los pelos */

.Hair-part:nth-child(1){transform: translateX(-100%)translateY(50%) rotate(-0deg); width: 90px;  height: 15px;
}
.Hair-part:nth-child(2){transform: translateX(-100%)translateY(-10%) rotate(10deg); width: 90px;  height: 45px;
}
.Hair-part:nth-child(3){transform: translateX(-50%)translateY(-10%) rotate(-55deg); width: 30px;  height: 220px;
}
.Hair-part:nth-child(4){transform: translateX(-50%)translateY(-10%) rotate(-45deg); width: 60px;  height: 180px;
}
.Hair-part:nth-child(5){transform: translateX(-50%)translateY(-10%) rotate(-15deg); width: 85px;  height: 185px;
}
.Hair-part:nth-child(6){transform: translateX(-50%)translateY(-10%) rotate(35deg); width: 70px;  height: 170px;
}
.Hair-part:nth-child(7){transform: translateX(-55%)translateY(-10%) rotate(90deg); width: 25px;  height: 170px;
}
.Hair-part:nth-child(8){transform: translateX(-50%)translateY(-10%) rotate(105deg); width: 20px;  height: 170px;
}
.Hair-part:nth-child(9){transform: translateX(-50%)translateY(-10%) rotate(95deg); width: 20px;  height: 170px;
}
.Hair-part:nth-child(10){transform: translateX(-50%)translateY(-10%) rotate(105deg); width: 20px;  height: 170px;
}
.Hair-part:nth-child(11){transform: translateX(-50%)translateY(-10%) rotate(35deg); width: 70px;  height: 170px;
}
/*Pelo delantero*/
.Internal-hair {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: 6.3rem;
    background: #000;
    border-radius: 50% 50% 0 0;
    z-index: 3;
}
.Internal-hair:nth-child(1){transform: translateX(-50%) rotate(-90deg); width: 30px;  height: 10px;
}
.Internal-hair:nth-child(2){transform: translateX(-50%) rotate(-80deg); width: 20px;  height: 10px;
}
.Internal-hair:nth-child(3){transform: translateX(-50%) rotate(-55deg); width: 30px;  height: 20px;
}
.Internal-hair:nth-child(4){transform: translateX(-50%) rotate(-45deg); width: 60px;  height: 10px;
}
.Internal-hair:nth-child(5){transform: translateX(-50%) rotate(-15deg); width: 85px;  height: 15px;
}

/*Partes de la cara*/

.nose ::after {
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0.5rem;
    height: 1.5rem;
    background: #000;
    border-radius: 50% 50% 0 0;
}
.mouth {
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 1.1rem;
    border-bottom: 5px solid #000;
    border-radius: 0 0 50% 50%;
}
.eyebrow-left, .eyebrow-right {
    position: absolute;
    top: 4rem;
    width: 2.8rem;
    height: 1.1rem;
    background: #000;
    border-radius: 50% 50% 20% 20%;
}
.eyebrow.left  { left: 2.4rem; transform: rotate(-20deg); }
.eyebrow.right { right: 1.4rem; transform: rotate(70deg); }
.eye {
    position: absolute;
    top: 75px;
    width: 38px;
    height: 48px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 50% 50% 45% 45% / 60% 60% 40% 40%;
    overflow: hidden;
}